
@import url('https://fonts.googleapis.com/css2?family=poppins:wght@100;200;300;400;500;600&display=swap');

/* gestion des couleurs */
:root{
    --green:#27ae60;
    --black:#192a56;
    --light-color:#666;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
    --outline:.1rem solid rgba(0,0,0,.1);
    --outline-hover:.2rem solid var( --black);
}

/* scroll css */
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-thumb{
    background-color: #27ae60;;
    border-radius: 4px;
}


*{
    font-family: 'Popin' ,sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}
body{
    overflow-x: hidden;
    background: #c7b3f555;
}
.container{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    padding-bottom: 60px;
}
.container .content{
    text-align: center;
}
.container .content h3{
    font-size: 30px;
    color: var(--black);
}
.container .content h3 span{
    background: crimson;
    color: #fff;
    border-radius: 5px;
}
.container .content h1{
    font-size: 50px;
    color: #27ae60;
}
.container .content h1 span{
    color: crimson;
}

.container .content p{
    font-size: 25px;
    margin-bottom: 20px;
}
.container .content .btn{
    display: inline-block;
    padding: 10px 30px;
    font-size: 20px;
    background: #192a56;
    color: #fff;
    margin: 0 5px;
    text-transform: capitalize;
    transition: all 0.2s ease;
}
.container .content .btn:hover{
    background-color: var(--green);
    border: 1px solid white;
    box-shadow: 0 25px 45px rgba(0,0,0,.1);
    backdrop-filter: blur(20px);
    color: #fff;
    letter-spacing: .7px;
    border: 1px solid white;
}

/* register */

.form-container{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    padding-bottom: 60px;
    margin-top: 5rem;
}
.form-container form{
    background-color: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 25px 45px rgba(0,0,0,.1);
    backdrop-filter: blur(20px);
    width: 50vw;
    position: relative;
    padding: 2rem 1rem;
    border-radius: 10px;
}
.form-container form img{
    position: absolute;
    top: -10%;
    right: 0;
    width: 35%;
    height: 35%;
}
.form-container form h3{
    text-align: center;
    text-transform: uppercase;
    color: #192a56;
    font-size: 1.5rem;
    margin-bottom: 2rem;
}
.form-container form input,
.form-container form select{
    background-color: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 25px 45px rgba(0,0,0,.1);
    backdrop-filter: blur(20px);
    border: 1px solid #c7b3f5;
    width: 100%;
    padding: 10px 15px;
    font-size: 17px;
    margin: 8px 0;
}
.form-container form sup{
    color: crimson;
    font-size: 1rem;
}
.form-container form select option{
    background: #fff;
}
.form-container form .form-btn{
    background: #192a56;
    color: #fff;
    text-transform: capitalize;
    font-size: 20px;
    cursor: pointer;
    border-radius: .1rem;
    transition: all .2s ease;
}
.form-container form .form-btn:hover{
    background: var(--green);
    box-shadow: var(--box-shadow);
    letter-spacing: .7px;
    color: #fff;
}
.form-container form p{
    text-transform: capitalize;
    margin-top: 10px;
    font-size: 15px;
    color: #333;
}
.form-container form p a{
    color: #27ae60;
    text-decoration: underline;
}
